* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: black;
    height: 100vh;
}
.interface {
    max-width: 1280px;
    margin: 0 auto;
}
/* ESTILO DO CABECARIO*/
header {
    padding: 40px 40px;
}
h2.minha{
    color: #fff;
}
h2.minha span {
    color: #00ff08;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.a {
    color: rgb(117, 117, 117);
    text-decoration: none;
    display: inline-block;
    transition: 0.9s;
}
.a:hover {
    color: white;
    transform: scale(1.05s);
}
.but1 {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background: rgb(0, 255, 0);
}
/*centro do topo*/

.img-ava {
    display: flex;
    align-items: center;
    padding-top: 100px;
}
.img-a {
    width: 300px;
}
.info-name {
    display: flex;
    align-items: center;
}
.infor {
    padding-left: 200px;
}
.tex {
    display: flex;
    padding-left: 100px;
    gap: 30px;
    flex-direction: column;

}
/*informacao do pr*/
.info-center1-1 {
    display: flex;
    align-items: center;
    padding-top: 300px;
    padding-left: 200px;
    gap: 20px;
}
.img-ava, .img-a {
    position: relative;
    animation: flut 2s ease-in-out infinite alternate;
}
@keyframes flut {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }    
}
section.minhases{
    padding: 100px 44%;

}
.minhases .espe-box{
    color: #fff;
    padding: 40px;
    
}
.minhases .espe-box i{
    font-size: 70px;
    color: #00ff08;
}
.inti-minhas .espe-box h3{
    font-size: 28px;
    margin: ;
}